.container {
    padding-top: var(--spacing-8);

    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    justify-content: center;
    height: 100%;
}

.form label,
.form input {
    font-size: var(--text-sm)
}

.form label {
    text-transform: uppercase;
}

.form button {
    border: 1px solid black;
    background-color: var(--black);
    color: var(--main-color);
    padding: var(--spacing-2)
}