.container {
    display: grid;
    padding: var(--spacing-2);
    grid-template-columns: 1.25fr 1fr 0.1fr;
    border-bottom: 1px solid black;
}



.container:hover .setImageContainer img {
    mix-blend-mode: difference;
}

.leftContainer {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: var(--spacing-1);
}

.setImageContainer {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    overflow: hidden;
}

.setImageContainer img {
    height: 100%;
    width: 100%;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-4)
}

.titleContainer h4 {
    font-weight: 600;
    font-size: var(--text-l);
    text-transform: uppercase;
}

.infoContainer h5 {
    font-size: var(--text-sm);
    font-weight: 500;
}

.sourceLogoContainer {}

.sourceLogoContainer img {

    width: 25px;
    height: fit-content;
}

.infoContainer p {
    font-size: var(--text-sm);
    margin-top: var(--spacing-2);
    border: 1px solid black;
    padding: var(--spacing-1);
    border-radius: 10px
}

.imageContainer {
    height: 100%;
    display: flex;
    align-items: center;

}


.imageContainer img {
    opacity: 0.2;
}

.indicatorContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator {
    height: var(--spacing-3);
    width: var(--spacing-3);
    border: 1px solid black;
    transform: rotate(45deg);
    border-left: 0;
    border-top: 0;
}