.mainContainer {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    max-height: 100svh;
    height: 100svh;
    overflow: hidden;
}


.rightContainer,
.leftContainer {
    height: 100%;
    width: 100%;
    padding: var(--spacing-4);
}

.rightContainer {}

.leftContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.catchphrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-24);
    gap: var(--spacing-2);
    transform: translateY(20%)
}

.catchphrase h2 {
    font-weight: 300;
}


.rightContainer {
    background-image: linear-gradient(var(--black) 0.5px, transparent 0.5px), linear-gradient(90deg, var(--black) 0.5px, transparent 0.5px);
    background-size: 5.2vw 5.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-12)
}

.rightContainer p {
    width: 60%;
    line-height: 150%;
    font-size: var(--text-l)
}

.analyzeFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(20%)
}


.analyzeField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4)
}

.buttonLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.buttonContainer {
    display: flex;
    gap: var(--spacing-24);
}

.logoContainer img {
    height: 20vw;
    object-fit: contain;
}