.analyzeFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(20%);
    position: relative;
    z-index: 10;
}


.analyzeField {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.alert {
    position: absolute;
    right: -25%;
    top: 15%;
    padding: var(--spacing-4);
    width: calc(9rem + 9vw);
    border: var(--border);
    background-color: var(--accent-color);
}

.alert p {
    line-height: 20px;
}

.alert span {
    text-decoration: underline;
}