.navigation {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: var(--spacing-10);
    padding-left: var(--spacing-14);
    padding-right: var(--spacing-14);
    width: 100%;
    display: flex;
    justify-content: space-between;
}