.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.95fr 1.05fr;
    padding: var(--spacing-2)
}

.upperContainer,
.lowerContainer {
    height: 100%;
}

.upperContainer {
    border-bottom: var(--border);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: var(--spacing-2)
}

.leftContainer,
.rightContainer {
    width: 100%;
}