.container {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: var(--spacing-3);
    position: relative;
    display: flex;
    flex-direction: column;
}

.avatarContainer {}

.informationContainer {
    height: 100%;
}