.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-2)
}

.titleContainer h4 {
    font-weight: 500;
    text-transform: uppercase;
}

.titleContainer h5 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--text-xs)
}

.setsContainer {
    display: flex;
    flex-direction: column;
    max-height: calc(5rem + 5vw);
    overflow: scroll;

}

.genre {
    display: flex;
    width: 100%;
}

.selected button {
    background-color: white;
}

.genre button {
    width: 100%;
    border-top: 1px solid black;
    padding: var(--spacing-2);

    font-size: var(--text-xs);
    text-transform: uppercase;
}

.genre button:hover {
    background-color: var(--accent-color)
}