.container {
    display: flex;
    column-gap: var(--spacing-24);
    background-color: var(--main-color);
    pointer-events: all;
    border: var(--border);
    padding: var(--spacing-1) var(--spacing-8)
}

.container *::selection {
    background-color: transparent;
    color: var(--black)
}

.navbar {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}


.navItem {
    display: flex;

}

.navItem * {
    font-size: var(--text-sm)
}

.index {
    font-weight: bold;
    text-transform: uppercase;
    width: var(--spacing-8);
    transform-origin: left center;
    transition: transform 0.2s var(--spring-bezier);
}


.navItem a {
    text-transform: uppercase;
}

.iconContainer {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: center;
}

.iconContainer img {
    transform: translateY(2px) scale(0.8);

}