.track {
    display: flex;
    gap: var(--spacing-3);
    padding: var(--spacing-3);
    padding-left: 0;
    height: fit-content;
    width: 100%;
    position: relative;
}

.albumCover img {
    height: var(--spacing-20);
    width: var(--spacing-20);
}

.trackDetails {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    justify-content: center;
    width: 100%;
}

.trackInfo {
    display: flex;
    gap: var(--spacing-1);

}

.trackInfo * {
    font-weight: 400;
    font-size: var(--text-sm)
}

.trackInfo strong {
    font-weight: 600;
}

.lowerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buylinks {
    display: flex;
    gap: var(--spacing-3)
}

.buylinks img {
    height: var(--spacing-5);
    width: var(--spacing-5);
}

.confidenceScore {
    padding: var(--spacing-1);
    padding-right: var(--spacing-3);
    position: relative;

}

.confidenceColor {
    height: var(--spacing-2);
    width: var(--spacing-2);
    border-radius: 20px;
    border: 0.5px solid black;
}

.confidenceText {
    position: absolute;
    min-width: fit-content;
    background-color: var(--main-color);
    bottom: 0;
    right: 5.5%;
}

.confidenceText p {
    width: fit-content;
    border: 1px solid black;
    font-size: var(--text-s);
    padding: var(--spacing-1);
}